* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: "Poppins", sans-serif;
    height: 94vh;
    padding: 1rem;
    position: relative;
}

.form-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    min-width: 550px;
    height: 47vh;
}

.home-parent {
    position: relative;
    display: none;
    width: 90%;
    margin: 10px auto;
}

.form-subparent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-errorMsg {
    display: block;
    color: white;
    height: 20px;
    display: none;
    background-color: rgb(255, 176, 176);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}

.form-left {
    width: 50%;
    height: 40vh;
}

.form-right-parent {
    align-self: stretch;
    width: 50%;
    height: 40vh;
    margin: 0 auto;
    margin-top: 40px;
}

.form-image {
    width: 90%;
    height: 90%;
}

.form-right {
    margin-top: 10px;
    width: 85%;
    border: none;
    padding: 8px;
    border-bottom: 1px solid rgb(208, 208, 188);
}

form-right:focus,
input:focus {
    outline: none;
}

.form-btn {
    width: 90%;
    padding: 8px;
    color: white;
    background-color: blue;
    text-decoration: none;
}

.help {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 4px;
    border-radius: 5px;
    color: white;
    background-color: rgb(164, 164, 164);
    cursor: pointer;
}

/*-------Nav--------*/
.nav {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 1rem;
}


/*--- layout ------*/

.activeAccountBalance1 {
    color: #4b4b4b;
    text-align: right;
    font-size: 0.9rem;
}

.activeAccountBalance {
    text-align: right;
    font-size: 1.2rem;
    color: #77e214;
}

.layout {
    display: flex;
    justify-content:space-between;
}

.left-layout{
width: 50%;
}

.right-layout{
width: 70%;
}
/*----Movements----*/
.movements {
    margin-top: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70vh;
}

.movements_row {
    border: 1px solid rgb(223, 223, 223);
    background-color: #fafafa;
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.movements_type_deposit {
    padding: 2.5px 12px;
    border-radius: 10px;
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    font-size: 11px;
    color: white;
    text-transform: uppercase;
}

.movements_type_withdraw {
    padding: 2.5px 9px;
    border-radius: 10px;
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
    font-size: 11px;
    color: white;
    text-transform: uppercase;
}

.movements_date {
    font-size: 0.8rem;
}

.movements_value {
    font-size: 1rem;
    text-align: left;
}


/*----- Summary -----*/

.summary {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    color: #5e5e5e;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.deposit {
    color: #39b385;
    font-size: 1.3rem;
}

.withdraw {
    color: #e52a5a;
    font-size: 1.3rem;
}

.intrest {
    color: #9be15d;
    font-size: 1.3rem;
}

/*---- right side section -----*/


/*--- transfer money ---*/

.transfer-money {
    position: relative;
    margin-top: 2rem;
    min-height: 27%;
    width: 90%;
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 3px 10px 50px 10px;
}

.transfer-money>div {
    color: #4b4b4b;
    font-size: 0.9rem;
    padding-top: 1.2rem;
    margin-left: 1rem;
}

.transfer-money>form {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    display: flex;
    flex-wrap: wrap;
}

.transfer-money>form>div>input {
    margin-top: 1rem;
    margin-left: 1rem;
    outline: none;
    border: none;
    padding: 7px;
    width: 5rem;
    background: #ffe09c;
}

.transfer-money>form>div>label {
    color: #4b4b4b;
    font-size: 0.8rem;
    margin-left: 1.2rem;
}

.transfer-money>form>button {
    border: 1px solid rgb(255, 187, 0);
    margin-top: 1rem;
    margin-left: 1rem;
    width: 2rem;
    height: 1.6rem;
    font-size: 1.1rem;
    background: #ffe09c;
    cursor: pointer;
}

/*--- ask loan ---*/

.ask-loan {
    position: relative;
    margin-top: 2rem;
    min-height: 27%;
    width: 90%;
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 3px 10px 50px 10px;
}

.ask-loan>div {
    color: #4b4b4b;
    font-size: 0.9rem;
    padding-top: 1.2rem;
    margin-left: 1rem;
}

.ask-loan>form {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    display: flex;
    flex-wrap: wrap;
}

.ask-loan>form>div>input {
    margin-top: 1rem;
    margin-left: 1rem;
    outline: none;
    border: none;
    padding: 7px;
    width: 5rem;
    background: #c2ffe3;
}

.ask-loan>form>div>label {
    color: #4b4b4b;
    font-size: 0.8rem;
    margin-left: 1.2rem;
}

.ask-loan>form>button {
    border: 1px solid #64f7b3;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 2rem;
    height: 1.6rem;
    font-size: 1.1rem;
    background: #c2ffe3;
    cursor: pointer;
}

/*--- delete account ---*/

.delete-account {
    position: relative;
    margin-top: 2rem;
    min-height: 27%;
    width: 90%;
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 3px 10px 50px 10px;
}

.delete-account>div {
    color: #4b4b4b;
    font-size: 0.9rem;
    padding-top: 1.2rem;
    margin-left: 1rem;
}

.delete-account>form {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    display: flex;
    flex-wrap: wrap;
}

.delete-account>form>div>input {
    margin-top: 1rem;
    margin-left: 1rem;
    outline: none;
    border: none;
    padding: 7px;
    width: 5rem;
    background: #ffa0b8;
}

.delete-account>form>div>label {
    color: #4b4b4b;
    font-size: 0.8rem;
    margin-left: 1.2rem;
}

.delete-account>form>button {
    border: 1px solid #ffa0b8;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 2rem;
    height: 1.6rem;
    font-size: 1.1rem;
    background: #ffa0b8;
    cursor: pointer;
}

/*---- logout ------*/

.logout {
    cursor: pointer;
}

/*---- Modal ----- */

.modal {
    display: none;
}

.modal-visible {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    backdrop-filter: blur(0px);
}

.modal-box {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 40%;
    height: 40vh;
    overflow-y: scroll;
    z-index: 10;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
}

.modal-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-btn {
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 4px;
    border: 1px solid red;
    cursor: pointer;
    float: right;
}

/*--- notification ---*/

.notification{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-notification{
    color: rgb(242, 242, 242);
   background-color: rgba(233, 38, 31, 0.903);
    padding:8px;
    padding: 8px 40px;
 }
 
 .success-notification{
    color: rgb(242, 242, 242);
    background-color: rgb(44, 201, 44);
    padding:8px;
    padding: 8px 40px;
 }